<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!-- as of now i have put connectionstring hard-coded in code only -->
    <add name="sinnvollDb" connectionString="encrypted-coonection-string-with-placehilder-to-database-name"/>
  </connectionStrings>
  <appSettings>
    <add key="appDatabase" value="..\database\kosal.sinnvoll.accdb"/>    
  </appSettings>
</configuration>